@import "tailwindcss";

@utility no-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* IE, Edge */
  -ms-overflow-style: none;

  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility hover-lift {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: translateY(-4px) scale(1.01);
    /* 만약 배경색도 바꾸고 싶다면 여기에 추가 */
    /* background-color: var(--color-secondary-light); */
  }
}

@utility focus-lift {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    transform: translateY(-4px) scale(1.01);
    /* 만약 배경색도 바꾸고 싶다면 여기에 추가 */
    /* background-color: var(--color-secondary-light); */
  }
}

@theme {
  /* 1. 폰트 */
  --font-family: Pretendard;
  --text-28px: 1.75rem; /* 28px */
  --text-24px: 1.5rem; /* 24px */
  --text-22px: 1.375rem; /* 22px */
  --text-20px: 1.25rem; /* 20px */
  --text-18px: 1.125rem; /* 18px */
  --text-16px: 1rem; /* 16px */
  --text-14px: 0.875rem; /* 14px */
  --text-12px: 0.75rem; /* 12px */
  --text-11px: 0.6875rem; /* 11px */
  --text-10px: 0.625rem; /* 10px */

  /* 2. 컬러 팔레트 */
  /* Neutral Colors */
  --color-neutral-white: #ffffff;
  --color-neutral-gray-1: #444444;
  --color-neutral-gray-2: #4f4f4f;
  --color-neutral-gray-3: #9c9c9c;
  --color-neutral-gray-4: #cdd6de;
  --color-neutral-gray-5: #f8f9f9;
  /* Primary Color */
  --color-primary: #76adff;

  /* Secondary Colors */
  --color-secondary-1: #2d4e7f;
  --color-secondary-2: #7998c5;
  --color-secondary-3: #b5f4ff;
  --color-secondary-4: #f5f9ff;
  --color-secondary-5: #bbd6ff;
  /* Gradient & Background Colors */
  --color-grad-blue: #7fb5f7;
  --color-bg-pale: #d6f4ff;

  /* 3. 그라데이션 및 배경 이미지 */
  --background-image-logo-gradient: linear-gradient(
    to bottom right,
    #7fb5f7,
    #cdd6de
  );

  --background-image-home-gradient: linear-gradient(
    248deg,
    #cdd6de 3.56%,
    #7fb5f7 64.28%
  );

  --background-image-rental-gradient: linear-gradient(
    305deg,
    rgba(214, 244, 255, 0.42) 2.77%,
    rgba(255, 255, 255, 0.42) 94.61%
  );

  --background-image-circle-gradient: linear-gradient(
    to bottom right,
    #cdd6de,
    #7fb5f7
  );
  /* 4. 그림자 */
  --shadow-search-profile: 0 0 3px rgba(92, 174, 255, 0.4);
  --shadow-secondary-3: 0 4px 10px 0 rgba(181, 244, 255, 0.5);
  --shadow-primary: 0 0 16px 1px rgba(181, 244, 255, 0.5);
  --shadow-outline: 0 0 16px 1px rgba(82, 229, 255, 0.7);
  --shadow-profile: 0 0 4px rgba(0, 0, 0, 0.14);
  --shadow-menu: 0 0 12px -4px rgba(0, 0, 0, 0.04);
  --shadow-card: 0 0 16px -6px rgba(0, 0, 0, 0.2);
  --shadow-item-card: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  --shadow-account-profile: 0 0 5.144px 0 rgba(0, 0, 0, 0.14);
  --shadow-camera: 0 0 3.43px 0 rgba(0, 0, 0, 0.14);
  --shadow-consent-card: 0 0 16px -6px rgba(0, 0, 0, 0.08);
  --shadow-consent-all-agreed: 0 0 2px -6px rgba(118, 173, 255, 0.5);
  --shadow-count-box: 0 0 18.7px -6px rgba(0, 0, 0, 0.17);
  --shadow-qr-box: 0 0 15.312px -5.742px rgba(0, 0, 0, 0.2);
  --shadow-16-gray: 0 0 18.922px -3.942px rgba(0, 0, 0, 0.1);
  --drop-shadow-progress-circle-on: drop-shadow(
    0 0 8.778px rgba(181, 244, 255, 0.5)
  );
  --drop-shadow-progress-circle-off: drop-shadow(
    0 0 8.778px var(--Neutral-5, #e6eaed)
  );

  /* 5. 래디우스 */
  --radius-large: 23.164px;
  --radius-medium: 13.977px;
  --radius-small: 12px;
  --radius-xsmall: 14px;

  /* 보더 컬러 */
  --color-menu-border: rgba(118, 173, 255, 0.1);
}
